.App {
  font-family: sans-serif;
  text-align: center;
}

input, button {
  padding: 8px;
}

button {
  background: red;
  color: white;
}

.megabutton {
  margin: 20px;
  padding: 20px;
  font-size: 24px;
}

.form label {
    /* display: block; */
    clear: both;
    margin: 10px;
    text-transform: capitalize;
}
.form input {
  margin: 0 0 0 10px;
}
.form input[type=submit] {
  background: green;
  color: white;
  padding: 8px;
}
